/* Layout */

body {
  max-width: 80%;
  margin: 80px auto auto auto;
  position: relative;
}

#podcast-results {
  color: #483D8B;
  font-family: cursive;
  font-weight: bolder;
  font-size: 200%;
  margin-bottom: 25px;
  text-align: left;
}


/* Header */

header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  /*background-color: #fafafa;*/
  background-color: crimson;
;
  padding: 8px 30px;
}

header > h1 {
  font-family: monospace;
  font-weight: normal;
  color: white;
  margin: 0;
}

header > input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.header-link {
  color: white;
  font-size: 115%;
}

.header-link:hover {
  color: white;
}

.header-link:not( :hover ) {
  color: white;
}

.header-link:active {
  color: yellow;
}

/* Podcast Card */

.podcast-card {
  float: left;
  margin-right: 2%;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: left;
  width: 30%;
  height: 0;
  padding-bottom: 13.667%;
  overflow: hidden;
  margin-bottom: 2%;
}

.podcast-card:hover {
  cursor: pointer;
}

.podcast-card:hover > .podcast-title-author {
  text-decoration: underline;
  cursor: pointer;
}

.podcast-card > img {
  width: 46%;
  float: left;
}

.podcast-card > div {
  display: block;
  float: right;
  width: 50%;
}

.podcast-card > div > h5 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.podcast-card > div > p {
  font-size: 14px;
}

.submit {
  background-color: crimson;
  font-family: monospace;
  font: bold 11px;
  color: #ffffff;
  padding: 2px 50px 2px 50px;
  font-size: 20px;
  border-radius: 5px;
  width: 280px;
  margin-top: 10px;
}

.favorite-button {
  margin-left: -17.7%;
  margin-top: 14.5%;
  margin-bottom: 2%;
  float: left;

  background-color: dodgerblue;
  font-family: monospace;
  font: bold 11px;
  color: #ffffff;
  padding: 2px 50px 2px 50px;
  font-size: 20px;
  border-radius: 5px;
}

.delete-button {
  margin-left: -15.8%;
  margin-top: 14.5%;
  margin-bottom: 2%;
  float: left;

  background-color: crimson;
  font-family: monospace;
  font: bold 11px;
  color: #ffffff;
  padding: 2px 50px 2px 50px;
  font-size: 20px;
  border-radius: 5px;
}

/* Pocast Description */

.podcast-description {
  float: left;
  margin-right: 2%;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: left;
  width: 100%;
  height: 0;
  padding-bottom: 200px;
  overflow: hidden;
  margin-bottom: 2%;
}

.podcast-description > img {
  float: left;
  margin-right: 20px
}

.podcast-description > h2 {
  color: black;
  font-weight: bold;
  margin-top:10px;
}

.podcast-description > p {
  font-size: 14px;
  height: 95px;
  overflow: scroll;
}

/* Podcast Episode */

.podcast-episode {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Podcast Wrapper */

favorite-podcast-wrapper {
  width: 100%;
}

.podcast-wrapper {
  width: 100%;
}

.podcast-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* View Rating */
form p,
form input[type="submit"] {
  text-align: left;
  font-size: 14px;
}

#wrapper form input[type="submit"] {
  border: 1px solid #d9d9d9;
  background-color: #efefef;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  margin:0px 5px;
}

 ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.addrating label:hover,
.addrating label:hover ~  label {
  color: orange;
}

.viewrating, .addrating{
 float-left;
 width:100px;
 display: inline-block;
}

.addrating{
  width:180px;
}

.addrating .rating{
  display: inline-block;
}

.reviewbutton{
  margin-top:5px;
  width: 100px;
  display: inline-block;
}

.ratingcontainer{
  margin-left:230px;

}

.review-container{
    width: 600px;
}

.review-container .summary{
  width: 500px;
}
.review-container .review{
  width: 500px;
  display: inline-block;
  margin-left: 14px;
  margin-top: 10px;
}
.review-container button{
    float:right;
    margin-right: 35px;
}

.review-container .label-review{
  position: relative;
  top: -85px;
}

/* View Rating */

/* Login */

.login {
  font-family: monospace;
  font: bold 11px;
  background-color: crimson;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  font-size: 20px;
  width: 300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.loginForms {
  margin: auto;
  width: 500px;
}

.submit {
  background-color: crimson;
  font-family: monospace;
  font: bold 11px;
  color: #ffffff;
  padding: 2px 50px 2px 50px;
  font-size: 20px;
  border-radius: 5px;
  width: 280px;
  margin-top: 10px;
}

label {
  margin: 10px;
  width: 100px;
}
/* Podcast */

/*.podcast-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.podcast {
  padding: 10px;
  margin: 20px;
  flex: 1 100px;
}

.podcast img {
  cursor: pointer;
}

.podcast-title-author:hover {
  text-decoration: underline;
  cursor: pointer;
}*/

/* Search */
/*.search {
  padding-left: 10px;
  margin-left: 20px;
  position: relative;
  color: #aaa;
}

.search input {
  text-indent: 25px;
  width: 100%;
  color: black;
}
.search .glyphicon-search {
  position: absolute;
  top: 5px;
  left: 15px;
}
*/
