/* Layout */

body {
  max-width: 1200px;
  margin: 80px auto auto auto;
  position: relative;
}

h3 {
  color: #483D8B;
  font-family: cursive;
  font-weight: bolder;
  font-size: 200%;
  margin-bottom: 25px;
  text-align: left; 
}


/* Header */

header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  /*background-color: #fafafa;*/
  background-color: crimson;
;
  padding: 8px 30px;
}

header > h1 {
  font-family: monospace;
  font-weight: normal;
  color: white;
  margin: 0;
}

header > input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.header-link {
  color: white;
  font-size: 115%;
}

.header-link:hover {
  color: white;
}

.header-link:not( :hover ) {
  color: white;
}

.header-link:active {
  color: yellow;
}

/* Podcast Card */

.podcast-card {
  float: left;
  margin-right: 2%;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: left;
  width: 30%;
  height: 0;
  padding-bottom: 164px;
  overflow: hidden;
  margin-bottom: 2%;
}

.podcast-card:hover {
  cursor: pointer;
}

.podcast-card:hover > .podcast-title-author {
  text-decoration: underline;
  cursor: pointer;
}

.podcast-card > img {
  width: 46%;
  float: left;
}

.podcast-card > div {
  display: block;
  float: right;
  width: 50%;
}

.podcast-card > div > h5 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.podcast-card > div > p {
  font-size: 14px;
}



/* Podcast */

/*.podcast-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.podcast {
  padding: 10px;
  margin: 20px;
  flex: 1 100px;
}

.podcast img {
  cursor: pointer;
}

.podcast-title-author:hover {
  text-decoration: underline;
  cursor: pointer;
}*/

/* Search */
/*.search {
  padding-left: 10px;
  margin-left: 20px;
  position: relative;
  color: #aaa;
}

.search input {
  text-indent: 25px;
  width: 100%;
  color: black;
}
.search .glyphicon-search {
  position: absolute;
  top: 5px;
  left: 15px;
}
*/